<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to your webpage!</title>
    </head>
    <body>
        <p>Configured FQDN: {{ site.fqdn }}</p>
        <p>This page was created by the cloudflare-nginx Ansible script!</p>
        <p>See GitHub (marceltc/ansible) for more information on how to configure this Ansible role.</p>
    </body>
</html>